In [69]:
import pandas as pd

In [70]:
url = 'https://www.teamrankings.com/nba/trends/ats_trends/?range=yearly_2018_2019'

In [71]:
tables = pd.read_html(url)
tables

[            Team ATS Record Cover %  MOV  ATS +/-
 0      Milwaukee    57-36-4   61.3%  8.9      2.6
 1         Dallas    46-35-1   56.8% -1.3      1.1
 2     Sacramento    45-35-2   56.2% -1.1      1.1
 3    LA Clippers    48-39-1   55.2%  0.1      0.3
 4       Portland    52-44-2   54.2%  3.3      1.6
 5           Utah    46-39-2   54.1%  4.4     -0.2
 6        Orlando    46-39-2   54.1% -0.2      1.9
 7    San Antonio    47-41-1   53.4%  1.4     -0.0
 8          Miami    43-38-1   53.1% -0.2     -0.1
 9       Brooklyn    46-41-0   52.9% -0.7      1.3
 10       Houston    47-43-3   52.2%  4.6      0.5
 11       Atlanta    42-40-0   51.2% -6.0      0.0
 12        Denver    49-47-0   51.0%  3.6      0.2
 13     Okla City    44-43-0   50.6%  2.9     -1.0
 14  Philadelphia    46-48-0   48.9%  2.7     -0.2
 15       Detroit    41-43-2   48.8% -1.3     -0.6
 16     Minnesota    40-42-0   48.8% -1.5     -0.5
 17     Charlotte    39-41-2   48.8% -1.1     -0.9
 18       Toronto    51-54-1   48.6%  5.9      1.3
 19        Boston    43-46-2   48.3%  3.9     -0.0
 20       Memphis    39-42-1   48.1% -2.6      0.3
 21       Indiana    40-45-1   47.1%  2.8      1.3
 22   New Orleans    38-43-1   46.9% -1.3      0.2
 23     Cleveland    38-43-1   46.9% -9.6     -1.6
 24    Washington    38-44-0   46.3% -2.9     -1.9
 25       Phoenix    36-46-0   43.9% -9.3     -1.8
 26       Chicago    35-45-2   43.8% -8.4     -2.1
 27     LA Lakers    35-46-1   43.2% -1.7     -0.8
 28  Golden State    44-58-2   43.1%  5.8     -1.3
 29      New York    32-47-3   40.5% -9.2     -1.8]

In [72]:
df = tables[0]
df.columns = ['Team', 'ATS-Record', 'Cover %', 'MOV', 'ATS +/-']
df.head()

          Team ATS-Record Cover %  MOV  ATS +/-
0    Milwaukee    57-36-4   61.3%  8.9      2.6
1       Dallas    46-35-1   56.8% -1.3      1.1
2   Sacramento    45-35-2   56.2% -1.1      1.1
3  LA Clippers    48-39-1   55.2%  0.1      0.3
4     Portland    52-44-2   54.2%  3.3      1.6

Cleanup of extra row

In [73]:
url2 = 'https://www.teamrankings.com/nba/trends/ats_trends/?range=yearly_2017_2018'
tables2 = pd.read_html(url2)
tables2

[            Team ATS Record Cover %  MOV  ATS +/-
 0         Boston    62-37-2   62.6%  3.0      1.5
 1        Indiana    53-36-0   59.6%  1.7      2.4
 2    New Orleans    52-38-1   57.8%  1.1      0.8
 3   Philadelphia    52-38-2   57.8%  4.4      1.8
 4       Brooklyn    46-35-1   56.8% -3.7      0.8
 5       Portland    45-36-5   55.6%  2.1      0.5
 6        Toronto    48-43-1   52.8%  6.5      1.3
 7      LA Lakers    43-39-0   52.4% -1.5      2.0
 8    LA Clippers    42-39-1   51.8%  0.0      0.5
 9           Utah    48-45-0   51.6%  3.5      2.5
 10   San Antonio    43-41-3   51.2%  2.2     -0.1
 11       Houston    50-48-1   51.0%  7.3      0.5
 12       Atlanta    40-39-3   50.6% -5.5      0.1
 13        Dallas    41-40-1   50.6% -3.0      1.0
 14       Chicago    41-40-1   50.6% -7.0     -1.2
 15         Miami    41-40-6   50.6% -0.2     -0.4
 16       Detroit    40-40-2   50.0% -0.1     -0.1
 17    Sacramento    39-40-3   49.4% -7.0     -0.5
 18        Denver    37-42-3   46.8%  1.5     -0.6
 19     Minnesota    39-45-3   46.4%  1.6     -0.5
 20      New York    38-44-0   46.3% -3.6      0.9
 21       Orlando    37-43-2   46.2% -4.8     -0.2
 22       Phoenix    37-43-2   46.2% -9.4     -2.0
 23  Golden State    46-56-1   45.1%  6.8     -1.1
 24       Memphis    36-44-2   45.0% -6.2     -1.8
 25    Washington    39-48-1   44.8%  0.4     -1.3
 26     Charlotte    34-44-4   43.6%  0.3     -0.6
 27     Milwaukee    36-48-5   42.9% -0.3     -1.8
 28     Okla City    37-50-1   42.5%  2.9     -1.2
 29     Cleveland    41-62-1   39.8%  0.4     -3.1]

In [74]:
df2 = tables2[0]
df2.columns = ['Team', 'ATS-Record', 'Cover %', 'MOV', 'ATS +/-']
df2.head()

           Team ATS-Record Cover %  MOV  ATS +/-
0        Boston    62-37-2   62.6%  3.0      1.5
1       Indiana    53-36-0   59.6%  1.7      2.4
2   New Orleans    52-38-1   57.8%  1.1      0.8
3  Philadelphia    52-38-2   57.8%  4.4      1.8
4      Brooklyn    46-35-1   56.8% -3.7      0.8

In [75]:
df = df[['Team', 'ATS-Record', 'Cover %']]

In [76]:
df2 = df2[['Team', 'ATS-Record', 'Cover %']]

In [77]:
df[['Win', 'Loss', 'Tie']] = df['ATS-Record'].str.split("-", expand = True)

/Users/elijahzwade/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [78]:
df2[['Win', 'Loss', 'Tie']] = df2['ATS-Record'].str.split("-", expand = True)

In [79]:
df = df.drop('ATS-Record', axis = 1)

In [80]:
df2 = df2.drop('ATS-Record', axis = 1)

In [81]:
df['Cover %'] = list(map(lambda x: x[:-1], df['Cover %'].values))

In [82]:
df2['Cover %'] = list(map(lambda x: x[:-1], df2['Cover %'].values))

In [83]:
df[['Cover %', 'Win', 'Loss', 'Tie']] = df[['Cover %', 'Win', 'Loss', 'Tie']].astype(float)

In [84]:
df2[['Cover %', 'Win', 'Loss', 'Tie']] = df2[['Cover %', 'Win', 'Loss', 'Tie']].astype(float)

In [85]:
df.to_csv("2017-18/17-18-cover.csv", index = False, header = True)

In [86]:
df2.to_csv("2018-19/18-19-cover.csv", index = False, header = True)